.input-container {
  padding: 4px 0;
}

.input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 8px 10px;
  border: 2px solid var(--color-border-main);
  border-radius: var(--radius-large);

  &_error {
    border-color: var(--color-error-accent);
  }

  &__label,
  &__error-caption {
    font-size: 12px;
    line-height: 12px;
  }

  &__label {
    display: block;
    margin-bottom: 6px;
  }

  &__error-caption {
    color: var(--color-error-accent);
    margin-top: 6px;
  }
}
