.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &_default {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    background-color: var(--color-button-active);
    padding: 8px 16px;
    border: 2px solid var(--color-button-active-accent);
    border-radius: var(--radius-small);

    &:hover:not(:disabled) {
      background-color: var(--color-button-active-hovered);
      border-color: var(--color-button-active-accent-hovered);
    }

    &:disabled {
      background-color: var(--color-button-active);
      border-color: var(--color-button-active-accent);
    }
  }

  &_plain {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-button-active-accent);
    background: none;

    &:hover:not(:disabled) {
      color: var(--color-button-active-accent-hovered);
      text-decoration: underline;
    }

    &:disabled {
      color: var(--color-button-active-accent);
      text-decoration: none;
    }
  }

  &_full {
    width: 100%;
  }

  &_accent {
    color: var(--color-error-accent);
  }

  &_with-icon {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    stroke: currentColor;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
