.button {
  /* flex */
  transition: all 0.2s ease;

  &_default {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    background-color: var(--color-button-active);
    padding: 8px 16px;
    border: 2px solid var(--color-button-active-accent);
    border-radius: var(--radius-small);

    &:hover {
      background-color: var(--color-button-active-hovered);
      border-color: var(--color-button-active-accent-hovered);
    }
  }

  &_plain {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-button-active-accent);

    &:hover {
      color: var(--color-button-active-accent-hovered);
      text-decoration: underline;
    }
  }

  &_full {
    width: 100%;
  }

  &_accent {
    color: var(--color-error-accent);
  }

  &_with-icon {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__icon {
    /* fix height-width */
    width: 20px;
    height: 20px;
    fill: currentColor;
    stroke: currentColor;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: default;
    user-select: none;
    opacity: 0.5;
  }

  &[disabled]:hover {
    background-color: var(--color-button-active);
    border-color: var(--color-button-active-accent);
  }
}
