<form 
  class='form{{#if class}} {{class}}{{/if}}' 
  id="{{formId}}"
  {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
  novalidate=true
>
  {{#each FormFields}}
    {{{ this }}}
  {{/each}}
</form>
