:root {
  --font-family-base: 'Poppins', system-ui, sans-serif;
  --font-size-plain-action: 18px;
  --line-height-base-coef: 1.5;
  --border-width: 2px;
  --radius-small: 20px;
  --radius-large: 30px;
  --color-bg-layout: #392f5c;
  --color-bg-main: #2e1f4c;
  --color-error-accent: #ff6969;
  --color-action: #e0a85d;
  --color-warning-accent: #fac156;
  --color-border-main: #7460b7;
  --color-border-section: #52448A;
  --color-button-active: #5275b6;
  --color-button-active-accent: #7aa2e5;
  --color-button-active-hovered: #385b9c;
  --color-button-active-accent-hovered: #4e7bc8;
  --color-form-field-readonly: #dedede;
  --color-form-field-disabled-bg: #eee;
  --color-text-main: #fff;
  --color-text-secondary: #c6bbb9;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
  --space-xxxl: 64px;
  --space-xxxxl: 96px;
  --size-icon-s: 16px;
  --z-index-tooltip: 100;
}
