<label class='file-upload__label'>
  <input type='file' class='file-upload__input' name='{{name}}' />
  {{{ChooseFileButton}}}
</label>

{{#if filename}}
  <div class='file-upload__filename'>{{filename}}</div>
{{/if}}

{{#if error}}
  <div class='file-upload__error-message'>{{error}}</div>
{{/if}}