<label class='file-upload__label'>
  <input type='file' class='file-upload__input' name='{{name}}' />
  {{{ChooseFileButton}}}
</label>

{{#if fileName}}
  <div class='file-upload__filename'>{{fileName}}</div>
{{/if}}

{{#if fileUploadError}}
  <div class='file-upload__error-message'>{{fileUploadError}}</div>
{{/if}}
