.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;

  &__label {
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__filename,
  &__error-message {
    margin-top: var(--space-s);
  }

  &__error-message,
  &_error &__button {
    color: var(--color-error-accent);
  }
}
