<section class='card' role="{{title}}-dialog" aria-labelledby="{{title}}-title">
  <h1 class="page-title" id="{{title}}-title">{{title}}</h1>

  {{#if contentBlock }}
    <div class="card__content">
      {{> (resolveSlot "contentBlock") }}
    </div>
  {{/if}}

  {{#if footerBlock }}
    <div class="card__footer">
      {{> (resolveSlot "footerBlock") }}
    </div>
  {{/if}}
</section>
