.card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: var(--space-m);
  align-items: center;

  background-color: var(--color-bg-main);
  border: var(--border-width) solid var(--color-border-main);
  border-radius: var(--radius-large);

  width: 440px;

  padding: var(--space-l) var(--space-xl);
  overflow: hidden;

  &__content,
  &__footer {
    width: 100%;
  }

  &__content {
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 0 var(--space-m);
  }

  &__footer {
    padding-top: var(--space-m);
    flex-shrink: 0;
  }
}
