.messenger {
    &__wrapper {
        flex: 1 1 auto;
        display: flex;
        gap: var(--space-m);
        width: 100%;
        min-height: 0;
    }

    &__section {
        background-color: var(--color-bg-main);
        display: flex;
        flex-direction: column;
        border: var(--border-width) solid var(--color-border-section);
        border-radius: var(--radius-large);

        overflow: hidden;

        &_left {
            flex: 0 0 30%;
            min-width: 340px;
            max-width: 420px;
        }

        &_right {
            flex: 1 1 70%;
            min-width: 0;
        }
    }

    &__content {
        flex: 1 1 auto;
        overflow: auto;
    }

    &__chats-list {
        display: flex;
        flex-direction: column;
    }

    &__header,
    &__footer {
        display: flex;
        align-items: center;
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);

        border-width: 0;
        border-style: solid;
        border-color:  var(--color-border-section);
    }

    &__header {
        justify-content: space-between;

        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);

        border-bottom-width: var(--border-width);
    }

    &__footer {
        gap: var(--space-m);
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);

        border-top-width: var(--border-width);
    }

    &__header-left-part {
        display: flex;
        gap: var(--space-l);
        align-items: center;
    }

    &__user-msg-textarea {
        flex: 1 1 auto;
    }
}