.chat-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  min-width: 220px;
}

.chat-actions__item {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-xs) var(--space-s);
  font-size: var(--font-size-plain-action-small);
  cursor: pointer;

  &:hover, &:focus {
    color: var(--color-action);
  }
}

.chat-actions__icon {
  --icon-size: 20px;

  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
}
