.input-field {
  --input-readonly-color: #dedede;
  --input-disabled-bg-color: #eee;

  padding: var(--space-xxs) 0;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 12px;

  &__label {
    display: block;
    margin-bottom: var(--space-xxs);
  }

  &__input {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
    width: 100%;
    padding: var(--space-xs) var(--space-s);
    border: var(--border-width) solid var(--color-border-main);
    border-radius: var(--radius-large);

    &_readonly {
      border-color: var(--input-readonly-color);
      border-top: 2px solid transparent;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }

  &__error-caption {
    color: var(--color-error-accent);
    margin-top: var(--space-xxs);
  }

  &_error &__input {
    border-color: var(--color-error-accent);
  }

  &_readonly {
    color: var(--input-readonly-color);
  }

  &_disabled &__input {
    background-color: var(--input-disabled-bg-color);
    opacity: 0.6;
    pointer-events: none;
  }
}
