.input-field {
  padding: var(--space-xxs) 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;

  &__label {
    display: block;
    margin-bottom: var(--space-xxs);
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
    width: 100%;
    padding: var(--space-xs) var(--space-s);
    border: var(--border-width) solid var(--color-border-main);
    border-radius: var(--radius-large);

    &[type="search"] {
      padding-left: var(--space-xl);
    }

    &_readonly {
      border-color: var(--color-form-field-readonly);
      border-top: 2px solid transparent;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }

  &__icon-search {
    position: absolute;
    left: var(--space-xs);
    width: var(--size-icon-s);
    height: var(--size-icon-s);
    color: var(--color-text-main);
    pointer-events: none;
  }

  &__error-caption {
    color: var(--color-error-accent);
    margin-top: var(--space-xxs);
  }

  &_error &__input {
    border-color: var(--color-error-accent);
  }

  &_readonly {
    color: var(--color-form-field-readonly);
  }

  &_disabled &__input {
    background-color: var(--color-form-field-disabled-bg);
    opacity: 0.6;
    pointer-events: none;
  }
}
