<div class="chat-users-list">
  {{#each users}}
  <div class="chat-users-list__item">
    <div class="chat-users-list__item-login">{{this.login}}: </div>
    <div>{{this.id}}</div>
  </div>
  {{/each}}
</div>