.link {
  font-size: var(--font-size-plain-action);
  color: var(--color-button-active-accent);
  text-decoration: none;
  transition: color 0.2s ease;

  &:disabled {
    color: var(--color-button-active-accent);
    text-decoration: none;
  }

  &:hover:not(:disabled) {
    color: var(--color-button-active-accent-hovered);
    text-decoration: underline;
  }
}
