<div class="error__wrapper">
  <div class="error__title error__title_{{code}}">{{code}}</div>
  <div class="error__message">{{message}}</div>
  {{> Link page="messenger" text="Return to chats" }}
</div>